{% extends "base.html" %}
{% block title %}Road Marshal | Not Found{% endblock %}
{% block inner_content %} <div id="content-blank"><h1 class="error">HTTP 404 - Content Not Found</h1></div>	{% endblock %}
	
