{% extends "base.html" %}
{% block title %}Road Marshal | Server Error{% endblock %}
{% block inner_content %} <div id="content-blank" class="error"><h2>An error occurred on the server. Please try again shortly</h2></div>{% endblock %}
	
