{% extends "super.html" %}

{% block title %}Road Marshal{% endblock %}

{% block stylesheet %}
<link href="/style2.css" rel="stylesheet" type="text/css" media="screen"/>
{% endblock %}


{% block header %}

<div id="logo">
    <img class="img-logo" src="/images/logo.png" alt="logo"/>

    <p> Go to the <a href="/" class=""><span class="orange">homepage</span></a></p>
</div>
{% endblock %}
<!-- end #header -->

{% block content %}
<div id="wrapper">
    <div id="page">
        <div id="status"></div>
        {% block inner_content %}
        {% endblock inner_content %}
    </div>

</div>
<!-- end #page -->
{% endblock content %}


