{% extends "base.html" %}
{% block title %}Road Marshal | Feedback{% endblock %}
{% block inner_content %}
<div id="content">
    <iframe src="https://docs.google.com/forms/d/1V1re3U8gXK8LGmWgdFY7pdEQ1Sm6628VTEMqhcGRNnI/viewform?embedded=true#start=openform"
            width="852" height="480" frameborder="0" marginheight="0" marginwidth="0">Loading...
    </iframe>
</div>
{% endblock %}
