{% extends "super.html" %}

{% block title %}Road Marshal{% endblock %}

{% block stylesheet %}
<link href="thestyle.css" rel="stylesheet" type="text/css" media="screen"/>
{% endblock %}

{% block header %}
<div id="logo">
    <div id="gConnect" class="img-sign-in" style="display: none">
        <span class="g-signin"
                data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile"
                data-requestvisibleactions="http://schemas.google.com/AddActivity"
                data-clientid="656618535961-8tl3li971g59tl6ii9cha4ffvm8q8h1m.apps.googleusercontent.com"
                data-callback="signinCallback"
                data-theme="dark"
                data-cookiepolicy="single_host_origin"
                data-width="wide">
        </span>
    </div>
    <img class="img-logo" src="images/logo.png" alt="logo"/>

    <div id="inside">
        <div id="profile" style="display: none">
            <img id="ppic" width="40px" height="40px"/>

            <p class="profile-name">
                <span class="nickname">
                            <span class="orange">Marshal </span>
                            <label class="link" id="nickname"></label>
                  </span>
                <a href="#" class="sign-out" style="display: none" id="disconnect" onclick="signOut()">Sign out</a>
            </p>

        </div>
        <p id="wait">Please wait...</p>
    </div>

</div>
{% endblock %}

{% block content %}
<div id="wrapper-trial">
    <div id="page">
        <div id="status-trial"></div>
        <div id="left-sidebar">
            <div id="empty"></div>
            <img id="swapper" src="images/1.png" onclick="swap()"/></div>
        <div id="content-trial">
            <div id="preload" ><img src="images/landingpage.gif" /></div>
        </div>
    </div>

</div>
<!-- end #page -->
{% endblock %}


{% block afterbody %}
<script type="text/javascript" src="js/jquery-2.0.0.min.js"></script>
<script type="text/javascript">
    function signinCallback(authResult) {
        //$("#preload").hide();
        if (authResult['access_token']) {
            // Successfully authorized
            // Hide the sign-in button now that the user is authorized, for example:
            //document.getElementById('signinButton').setAttribute('style', 'display: none');
            $('#left-sidebar').hide();
            $("#gConnect").hide();
            {% if g.user != None %}
                $("#ppic").attr("src", "{{g.user.profilePicture}}");
                $("#nickname").text("{{g.user.nickName}}");
                $("#profile").show("slow");
                $("#wait").hide();
            {% else %}
                $("#wait").show();
            {% endif %}
            document.getElementById('wrapper-trial').id = "wrapper-loggedin";
            document.getElementById('status-trial').id = "status-loggedin";
            document.getElementById('content-trial').id = "content-loggedin";
            $("#content-loggedin").html("{% autoescape false %}{{IFRAME.format('fullgame.html')}}{% endautoescape %}");

            gapi.client.load('oauth2', 'v2', function () {
                var request = gapi.client.oauth2.userinfo.get();
                request.execute(function (resp) {
                    console.log(resp);
                    //switch the game to the full version

                    //console.log('Retrieved profile for:' + resp.displayName);
//		   $('#name').html(resp.displayName);
//		   $('#profile-img').attr('src', resp.image.url+'&sz=30');
//		   $('#revokeButton').show();
//		   $('#profile').show();
//		   $('#loud').removeAttr('disabled')
                    $("#wait").hide();
                    $("#ppic").attr("src", resp.picture);
                    $("#disconnectUser").on("click", disconnectUser);
                    $("#nickname").text(resp.given_name);
                    $("#profile").show();

                    $.post("/login", {"action": "login", "json": JSON.stringify(resp), "access_token": authResult['access_token']},function (e) {
                        //console.log(JSON.stringify(resp))
                        //console.log(e);
                    }).done(function (e) {
                                //alert( "success");
                                console.log("Success");
                                $("#disconnect").show();
                                //startGame();
                            })
                            .fail(function (e) {
                                //alert( "error logging in" );
                                console.log("Fail: " + e);
                            })
                            .always(function (e) {
                                //console.log("Always: " + e);
                            });

                });
            });
        } else if (authResult['error']) {
            $("#gConnect").show();
            $("#wait").hide();
            $("#disconnectUser").off("click");
            $("#content-trial").html("{% autoescape false %}{{IFRAME.format('trialgame.html')}}{% endautoescape %}");
            console.log('There was an error: ' + authResult['error']);
        }
    }

    function signOut() {
        $("#wait").show();
        $("#disconnect").hide();
        $.ajax({
            type: "POST",
            url: "/logout",
            async: true,
            contentType: "text/plain",
            success: function (access_token) {
                gapi.auth.signOut();
                $('#left-sidebar').show();
                $("#gConnect").show()
                $('#profile').hide();
                $("#wait").hide();
                document.getElementById('wrapper-loggedin').id = "wrapper-trial";
                document.getElementById('status-loggedin').id = "status-trial";
                document.getElementById('content-loggedin').id = "content-trial";
                $("#content-trial").html("{% autoescape false %}{{IFRAME.format('trialgame.html')}}{% endautoescape %}");
            },
            error: function (e) {
            }
        });

    }

    function disconnectUser() {

        var x = window.confirm("Are you sure you really wanna disconnect from this app?")
        if (!x)
            return;

        $("#disconnectUser").off("click");
        $("#wait").show();
        $("#disconnect").hide();
        $.ajax({
            type: "POST",
            url: "/logout",
            async: true,
            contentType: "text/plain",
            success: function (access_token) {

                var revokeUrl = 'https://accounts.google.com/o/oauth2/revoke?token=' + access_token;
                console.log("access-token-disconnect: " + access_token);
                // Perform an asynchronous GET request.
                $.ajax({
                    type: 'GET',
                    url: revokeUrl,
                    async: false,
                    contentType: "application/json",
                    dataType: 'jsonp',
                    success: function (nullResponse) {
                        // Do something now that user is disconnected
                        // The response is always undefined.
                        $('#left-sidebar').show();
                        $("#gConnect").show()
                        $('#profile').hide();
                        $("#wait").hide();
                        document.getElementById('wrapper-loggedin').id = "wrapper-trial";
                        document.getElementById('status-loggedin').id = "status-trial";
                        document.getElementById('content-loggedin').id = "content-trial";
                        $("#content-trial").html("{% autoescape false %}{{IFRAME.format('trialgame.html')}}{% endautoescape %}");

                    },
                    error: function (e) {
                        // Handle the error
                        console.log(e);
                        // You could point users to manually disconnect if unsuccessful
                        // https://plus.google.com/apps
                        $("#wait").hide();
                        $("#disconnect").show();
                    }
                });
            },
            error: function (e) {

            }
        });
    }
    $(document).ready(function () {
        /*
        {% if session.get("userId") != None %}
            $("#content-trial").html("{% autoescape false %}{{IFRAME.format('trialgame.html')}}{% endautoescape %}");
            {% else %}
            document.getElementById('content-trial').id = "content-loggedin";
            $("#content-trial").html("{% autoescape false %}{{IFRAME.format('trialgame.html')}}{% endautoescape %}");
            {%  endif %}
        */
        });
</script>

<script>
    var test = false;
    var shing = document.getElementById("swapper");
    function swap() {
        test = !test;
        if (test) {
            shing.setAttribute("src", "images/2.png");
        }
        else {
            shing.setAttribute("src", "images/1.png");
        }
    }
</script>
{% endblock %}