{% extends "base.html" %}
{% block title %}I just scored {{DATA.newscore}} points on Road Marshal. Try it out too{% endblock %}
{% block inner_content %}
        <style>
            b {
                color: orange;
            }
        </style>
<div id="content-sharescore" class="share-score">
    <p class="share-score-text">Marshal <b>{{DATA.nickname}}</b> scored <br/> <b>{{DATA.newscore}}</b> points in the<br/>
        <b>{% if DATA.gametype == "classic" %}Classic{% else %}Arcade{% endif %} Mode </b>of Road Marshal<br/>for taking down traffic offenders<br/>
    </p>
<div class="share-buttons"> <p>Share score via:
    <a href="http://www.facebook.com/sharer.php?u=http://gcdc2013-roadmarshal.appspot.com/myscore/{{DATA.id}}" target="_blank"> <img class="btn"src="/images/facebook.png"/></a>
    <a href="http://twitter.com/intent/tweet?text=I scored {{DATA.newscore}} points. Check it out!&url=http://gcdc2013-roadmarshal.appspot.com/myscore/{{DATA.id}}&via=roadmarshal" target="_blank"><img class="btn" src="/images/Twitter.png"/>
    </a> <a href="http://plus.google.com/share?url=http://gcdc2013-roadmarshal.appspot.com/myscore/{{DATA.id}}" target="_blank" ><img class="btn"src="/images/googleplus.png"/> </p></a></div>

</div>
{% endblock %}

