<!DOCTYPE html>
<html>
<head>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <title>{% block title %}{% endblock %}</title>

    <link rel="icon"
          type="image/png"
          href="/images/favicon.png"/>

    {% block stylesheet %}{% endblock %}

</head>
<body>

<div id="ff">
    <div id="body"></div>
</div>


<div id="header">
    {% block header %}{% endblock %}
</div>
<!-- end #header -->


{% block content %}
{% endblock %}


<div style="clear: both;">&nbsp;</div>
<div id="bottom" align="center"></div>

<div id="social-networks" align="center">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="RoadMarshal" data-related="RoadMarshal"
       data-hashtags="RoadMarshal">Tweet</a>
 <span class="g-plusone"
       data-size="medium"
       data-href="https://gcdc2013-roadmarshal.appspot.com"
       data-annotation="bubble"
       data-width="90px">

          </span>
    <span class="fb-like" data-href="http://gcdc2013-roadmarshal.appspot.com/" data-width="40"
          data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></span>

    <div id="fb-root"></div>
</div>


{% block footer %}
<div id="footer">
    <h2><p>© Road Marshal | <a href="http://www.google.com/events/gcdc2013/" target="_blank">Google Cloud Developer Challenge 2013
        | </a><a href="/feedback" target="_blank">Send your comments|</a> <a id="disconnectUser" href="#">Disconnect this App</a></p></h2>

</div>
<!-- end #footer -->
{% endblock footer %}

</body>

    <script type="text/javascript">
        (function () {
            var po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://plus.google.com/js/client:plusone.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();
    </script>

{% block afterbody %}
{% endblock %}

    <script>!function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'twitter-wjs');</script>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45947678-1', 'gcdc2013-roadmarshal.appspot.com');
  ga('send', 'pageview');

</script>
</html>