html, body{
		margin: 0;
	}
	
body {
	background-image:url(images/Seamless-Web-Background-Patterns-for-Your-Site-2.jpg);	
	  
	overflow-x:hidden;
	padding: 0;
	font-family: "sans-serif", Helvetica, Arial, sans-serif;	
	font-size: 12px;
	line-height: 1.125em;
	
}
.img
{
opacity:1.0;
filter:alpha(opacity=100); /* For IE8 and earlier */
}

.img:hover
{
	opacity:0.4;
filter:alpha(opacity=40); /* For IE8 and earlier */
	

}

.center{
	text-align:center
	}
	

p  {
	
	color:#FFF;
	font-family: "sans
	-serif", Helvetica, Arial, sans-serif;
	}


a {
	
	font-family: "sans-serif", Helvetica, Arial, sans-serif;
	font-weight:bold;
	text-decoration: none;
	color: #FFF;
}

a:hover {
	font-family: "sans-serif", Helvetica, Arial, sans-serif;
	color: #2a2e36;
	text-decoration:underline;
	color:#FFF;}

a image:hover{
	border: none;
	color: #2a2e36;
	}
	
a img {	border: none; } /* Gets rid of IE's blue borders */


#wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}
#ff {
	margin: 0 auto;
	padding: 0 0 0 0px;
	background: #F90;
	width:100%;
	background-repeat:repeat-x;
	height: 5px;
	
}
#body{
	width: 100%;
	height: 10px;
	margin: 0 auto;
	
	
	}
/* Header */

#header {
	width: 100%;
	height: 90px;
	background-image:url(images/header.png);
	}

/* Logo */
#logo {
	
	height: 65px;
	width: 1088px;
	margin: 0 auto;
	padding-top: 20px;
	color: #FFFFFF;
}
#logo p {
	
	float:right;
	margin-right:26px;
}

.sign-out{
	width:180px;
	float:right;
	margin: 6px 13px;
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	}
.sign-out:hover
	{
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
		}
.img-sign-in:hover	
	{
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
		}
.img-logo{
	width:265px;
	float:left;
	}

/* Page */

#page {
	
	margin: 0 auto;
	padding: 10px 10px 10px 10px;
}

#status{
	 font-family: "sans-serif", Helvetica, Arial, sans-serif;
	height: 15px;
	width: 200px;
	margin-left: 72%;

}
#empty{
	width: 200px;
	height: 230px;
	}
	
	
#left-sidebar {
	background-image:url(images/leftsidebar.png);
	background-repeat:no-repeat;
	float: right;
	width: 200px;
	height: 480px;
	padding-left:10px;
	padding-right: 30px;
	display:none;
	
	
}


#content {
	
	/*background-image:url(images/landing%20image2.png);*/
	background-repeat:no-repeat;
	background-position:center;
	float: right ;
	margin: 0 auto;
	width:100%;
	height: 480px;
	
}
#content-blank {
	
	background-image:url(images/blank.png);
	background-repeat:no-repeat;
	background-position:center;
	float: right ;
	margin: 0 auto;
	width:100%;
	height: 480px;
	
	
	
}
#content-sharescore {
	
	background-image:url(images/sharescorepage.png);
	background-repeat:no-repeat;
	background-position:center;
	float: right ;
	margin: 0 auto;
	width:100%;
	height: 480px;
	text-align: right;
	font-family: "sans-serif", Helvetica, Arial, sans-serif;
	
}
.share-score-text{
	margin-left:430px;
	float: left ;
	font-size:14px;
	font-weight:200;
	color:#FFF;
	text-align: left;
	margin-top:190px;
	font-family: "sans-serif", Helvetica, Arial, sans-serif;
	line-height:1.525em;
	}
.share-buttons{
    margin-right: 300px;
    margin-top: 350px;
    height: 30px;
    font-family: "sans-serif", Helvetica, Arial, sans-serif;
    font-weight:200;
}
.button{
	
	display: inline-block;
	text-decoration: none;
	text-align:center;
	background-repeat: no-repeat;
	padding-top: 0.3em;
		
}


.btn{

    width:30px;
    height: 30px;
	float:right;
    margin-right:0px;
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
    padding-right: 2px;
}
.btn:hover
	{
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
		}
.img-sign-
.blue{
	color:#3CF;
	}
	
.black{
	background-image:url(images/black.png);
	background-repeat:no-repeat;
	background-position:;
	width:70px;
	height:20px;
	
	}
	
.bigblack{
	background-image:url(images/bigblack.png);
	background-repeat:no-repeat;
	background-position:;
	width:200px;
	height:50px;
	
	}		
.orange{
	color:#F90;

}


.link{
	
	text-decoration: none;
	}		

.error{
	text-align:center;
	color:#FFF;}		


#bottom{
	
	height: 5px;
	
	}
#disconnect-app{
	height:5px;
	text-align:center;
	}
#social-networks{
	height: 30px;
	text-align:center;
	margin-left: 45% auto 0 ;
	
	}

#footer {
	
	width: 100%;
	height: 30px;
	margin: 0 auto;	
	padding: 0px 0 15px 0;
	font-family: "sans-serif", Helvetica, Arial, sans-serif;
}


#footer p {
	margin: 0;
	padding-top: 26px;
	line-height: normal;
	font-size: 12px;
	text-align: center;
}

#footer a {
	font-weight: 200;
}