html, body{
		margin: 0;
	}
	
body {
	background-image:url(/images/Seamless-Web-Background-Patterns-for-Your-Site-2.jpg);
	  
	overflow-x:hidden;
	padding: 0;
	font-family: "sans-serif", Helvetica, Arial, sans-serif;	
	font-size: 12px;
	line-height: 1.125em;
}

.img
{
       opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}

.img:hover
{
	opacity:0.8;
    filter:alpha(opacity=80); /* For IE8 and earlier */
	
}

.center{
	text-align:center
	}
	

p  {
	
	color:#FFF;
	font-family: "sans
	-serif", Helvetica, Arial, sans-serif;
	}


a {
	
	font-family: "sans-serif", Helvetica, Arial, sans-serif;
	font-weight:bold;
	text-decoration: none;
	color: #FFF;
}

a:hover {
	font-family: "sans-serif", Helvetica, Arial, sans-serif;
	color: #2a2e36;
}

a image:hover{
	border: none;
	color: #2a2e36;
	}
	
a img {	border: none; } /* Gets rid of IE's blue borders */


#wrapper-trial {
	width: 1100px;
	margin: 0 auto;
	padding: 0;
}
#wrapper-loggedin {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}
#ff {
	margin: 0 auto;
	padding: 0 0 0 0px;
	background: #F90;
	width:100%;
	height:5px;
	background-repeat:repeat-x;
	
}

#body{
	width: 100%;
	height: 10px;
	margin: 0 auto;
	
	
	}
/* Header */

#header {
	width: 100%;
	height: 90px;
	background-image:url(../images/header.png);
	}
	
	/* Logo */

#logo {
	
	height: 65px;
	width: 1088px;
	margin: 0 auto;
	padding-top: 20px;
	color: #FFFFFF;
}
#logo p {
	
	float:right;
	margin-right:26px;
}
.img-sign-in{
	width:180px;
	float:right;
	margin: 6px 13px;
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	}
.img-sign-in:hover	
	{
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
		}

.sign-out{
    margin-top: 3px;
	width:59px;
	float:right;
	margin-right: 0px;
	opacity:1.0;
    font-size: 12px;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	}
.sign-out:hover
	{
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
		}
.img-logo{
	width:265px;
	float:left;
	}
	.img-sign-out{
	width:180px;
	float:right;
	margin: 6px 13px;
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	}
.img-sign-out:hover	
	{
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	}
#ppic{
    margin-top: 10px;
 float: right;

}
.nickname{
    margin-right: 0px;
    float: right;margin-top: auto 0px;
    text-transform: capitalize;
}
.profile-name{
    margin-right: 0px;
    float: right;
    height: 40px;
    max-width: 150px;
    font-size: 14px;
    font-weight: 200;

}
#page {

	margin: 0 auto;
	padding: 10px 10px 10px 10px;

}

#status-trial{
	
	 font-family: "sans-serif", Helvetica, Arial, sans-serif;
	height: 35px;
	width: 200px;
	margin-left: 72%;
}
#status-loggedin{
	 font-family: "sans-serif", Helvetica, Arial, sans-serif;
	height: 15px;
	width: 200px;
	margin-left: 72%;

}
#empty{
	width: 200px;
	height: 230px;
	}
	
	#left-sidebar {
	background-image:url(../images/leftsidebar.png);
	background-repeat:no-repeat;
	float: left;
	width: 185px;
	height: 480px;
	padding-left:10px;
	padding-right: 30px;

}

#content-trial {
	background-repeat:no-repeat;
	background-position:center;
	float: left ;
	width: 852px;
	height: 480px;
	margin: 0 auto;
}
#content-loggedin {
	background-repeat:no-repeat;
	background-position:center;
	float: right ;
	margin: 0 auto;
	width:100%;
	height: 480px;
	
	}
#iframe {
    background: transparent;
    margin: 0px;
    padding: 0px;
    border: none;
}
.button{
	
	display: inline-block;
	text-decoration: none;
	text-align:center;
	background-repeat: no-repeat;
	padding-top: 0.3em;
		
}




.blue{
	color:#3CF;
	}
	
.black{
	background-image:url(../images/black.png);
	background-repeat:no-repeat;
		width:70px;
	height:20px;
	
	}
	
.bigblack{
	background-image:url(../images/bigblack.png);
	background-repeat:no-repeat;
	width:200px;
	height:50px;
	
	}		
.orange{
	color:#F90;

}


.link{
	
	text-decoration: none;
	}		
		
		#bottom{
	
	height: 5px;
	
	}
#social-networks{
	height: 30px;
	margin-left:  0 ;
	
	}

#footer {

	width: 100%;
	height: 30px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: "sans-serif", Helvetica, Arial, sans-serif;
}


#footer p {
	margin: 0;
	padding-top: 26px;
	line-height: normal;
	font-size: 12px;
	text-align: center;
}

#footer a {
	font-weight: 200;
}